<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdgvitvellore.gdgvitvellore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.gdgvitvellore.gdgvitvellore.Entity.Firebase.GDGVITVellore2"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.gdgvitvellore.gdgvitvellore.Entity.Navigation.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            </activity>
        <activity
            android:name="com.gdgvitvellore.gdgvitvellore.Entity.LogIn.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.gdgvitvellore.gdgvitvellore.Entity.SplashScreen.SplashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gdgvitvellore.gdgvitvellore.Entity.ContactUs.GdgWebViewActivity"
            android:label="GDG VIT Vellore"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.gdgvitvellore.gdgvitvellore.Entity.IntroSlider.IntroSliderActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.gdgvitvellore.gdgvitvellore.Entity.Events.EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gdgvitvellore.gdgvitvellore.Entity.Project.ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity android:name="com.gdgvitvellore.gdgvitvellore.Entity.Notification.Services.NotificationActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- Firebase Notifications -->
        <service android:name="com.gdgvitvellore.gdgvitvellore.Entity.Notification.Services.Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.gdgvitvellore.gdgvitvellore.Entity.Notification.Services.Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
    </application>

</manifest>